body {
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 10px; 
    background-color: #440075;
}

header {
    background-color: #4932c9;
    padding: 1em 0;
    text-align: center;
    text-decoration: dashed;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
    transition: 0.8s;
  }
  
.logo{
  width: 80px;
  height: auto; 
  border-radius: 200px;
  box-shadow:rgba(0,0,0,0.5);
  transition: 0.5s;
}
.logo:hover{
 background-image:linear-gradient(to right,#4932c9,#440075);
  opacity: 1.2;
}
  li {
    display: inline;
    margin-right: 20px;
    color: #f4f4f4;
  }
section {
    padding: 20px;
    margin: 40px 0; /* Increase the top and bottom margins for more spacing */
    background-image:linear-gradient(to right, #4932c9,#440075)  ;
    box-shadow: 0 0 10px rgba(0,0 ,0, 0.5);
}
.container {
    display: flex;
    align-items: center; 
    font-size: 30px;
}
.details {
    flex: 1;
    padding: 10px;
}
.image-container {
    text-align: right; 
    margin-right: 10px;
  }
  
  .my-image {
    width: 200px;
    height: auto; 
    border-radius: 100px;
  }
h2, .skill-cardh2{
    font-size: 24px;
    font-weight: 400;
    color: #fbfbfb;
    text-decoration: dashed;
}

p {
    line-height: 1.6;
    color: rgb(255, 255, 255);
}
span{
    color:rgba(255,255,255, 1); 
}
.cards {
    display: flex;
    align-items: right;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 2.5vh;
  }
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
        
  }
  .skill-card {
    flex: 0 1 calc(30% - 20px);
    height: auto;
    margin-bottom: 20px;
    margin-left: 30px;
    background-color: #3d3e42;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    gap: 2.5vh;
    transition: background-color 0.5s, color 0.5s;
  }
  .skill-card img {
    height: 7.5vw;
    width: 7.5vw;
    object-fit: contain;
  }
  
  .skill-card h2 {
    font-size: 24px;
    font-weight: 400;
    color: #fbfbfb;
  }
  
  .skill-card:hover {
    background-color:rgba(200,233,202,0.4);
    color:#3d3e42;
  }
#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
    font-style: italic;
}
.active{
  background-image: linear-gradient(to bottom, yellow, green);
  width: 100px;
  height: auto;
}
button{
    background-image: linear-gradient(to bottom, blue, green);
    border-radius: 10px;
    box-shadow: rgba(0,0 ,0, 0.7);
    color: white;
    font-size: 15px;
    font-weight: 100;
    border-color: rgb(158, 158, 202);
    transition: 0.8s ;
    padding: 8px;
}
button:hover{
    background-color: rgb(255, 81, 0);
    color: white;
}
button:active{
    background-color:rgb(0, 123, 255);
    color: white;
}
.icon{
  width: 50px;
  height: auto; 
  border-radius: 50px;
  box-shadow:rgba(0,0,0,0.5);
  border-color: black;
   border: 2mm;
  transition: 0.8s;
}
.icon :active{
  border: 1mm black;
}
a{
  color: aqua;
}
a:hover{
  color: aquamarine;
  opacity: 1.2;
  filter: brightness(2px);
}